*.csproj.user

TaiPan.suo
Bank/bin/
Bank/obj/
FateAndGuesswork/bin/
FateAndGuesswork/obj/
FXServer/bin/
FXServer/obj/
ShippingCompany/bin/
ShippingCompany/obj/
Trader/bin/
Trader/obj/
Common/bin/
Common/obj/
StatsLib/bin/
StatsLib/obj/
TestTaiPan/bin/
TestTaiPan/obj/

AlgoServer/AlgoServer.suo
AlgoServer/AlgoServer/bin/
AlgoServer/AlgoServer/obj/
AlgoServer/AlgoService/bin/
AlgoServer/AlgoService/obj/
AlgoServer/TestAlgoService/bin/
AlgoServer/TestAlgoService/obj/
AlgoServer/TestResults/

Resolver/AlgoServiceProxy.cs
Resolver/AlgoServiceProxy.dll

Resolver/WpfChart/WpfChart.suo
Resolver/WpfChart/WpfChart/bin/
Resolver/WpfChart/WpfChart/obj/

Resolver/SolverBindingClasses/SolverBindingClasses.suo
Resolver/SolverBindingClasses/SolverBindingClasses/bin/
Resolver/SolverBindingClasses/SolverBindingClasses/obj/

Resolver/TFPCS/TFPCS.suo
Resolver/TFPCS/TFPCS/bin/
Resolver/TFPCS/TFPCS/obj/

TestResults/

MagicDraw UML/*.bak

web/images/

Resolver/.project
Resolver/.pydevproject

tmp.diff