<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="servers" type="TaiPan.Common.ServersSection, Common" />
  </configSections>

  <appSettings>
    <add key="MultithreadQueueSize" value="50" />
    <add key="MainLoopTick" value="1000" />
    <add key="ServerLoopTick" value="500" />
    <add key="ClientLoopTick" value="500" />
    <add key="ClientRetryTime" value="500" />
  </appSettings>

  <connectionStrings>
  <add name="taipan-r"
    providerName="System.Data.SqlClient"
    connectionString="server=DAPHNE-DURON\SQLEXPRESS;
            User Id=taipan-r; Password=fakepass;
            database=TaiPan" />
  <add name="taipan-rw"
    providerName="System.Data.SqlClient"
    connectionString="server=DAPHNE-DURON\SQLEXPRESS;
          User Id=taipan-rw; Password=fakepass;
          database=TaiPan" />
  </connectionStrings>

  <servers>
    <server name="FXServer-BankBroadcast" address="127.0.0.1" port="6100" />
    <server name="FateAndGuessWork-TraderBroadcast" address="127.0.0.1" port="6101" />
  </servers>

</configuration>