<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="servers" type="TaiPan.Common.ServersSection, Common" />
  </configSections>

  <appSettings>
    <add key="MultithreadQueueSize" value="50" />
    <add key="MainLoopTick" value="2000" />
    <add key="ServerLoopTick" value="200" />
    <add key="ClientLoopTick" value="200" />
    <add key="ClientRetryTime" value="500" />
  </appSettings>

  <connectionStrings>
  <add name="taipan-r"
    providerName="System.Data.SqlClient"
    connectionString="server=DAPHNE-DURON\SQLEXPRESS;
            User Id=taipan-r; Password=fakepass;
            database=TaiPan" />
  <add name="taipan-rw"
    providerName="System.Data.SqlClient"
    connectionString="server=DAPHNE-DURON\SQLEXPRESS;
          User Id=taipan-rw; Password=fakepass;
          database=TaiPan" />
  </connectionStrings>

  <servers>
    <server name="Bank-TraderBroadcast" address="127.0.0.1" port="6100" />
    <server name="FXServer-BankBroadcast" address="127.0.0.1" port="6101" />
    <server name="FateAndGuessWork-BankBroadcast" address="127.0.0.1" port="6102" />
    <server name="FateAndGuessWork-TraderBroadcast" address="127.0.0.1" port="6103" />
    <!-- for the processes which can have multiple copies running at once "port"
    is the port for process with id=1, each other process uses "port + (id-1)".
    Traders and Shipping Companies can use the same start ports because they always have different ids
    -->
    <server name="Trader-BankBroadcast" address="127.0.0.1" port="6110" />
    <server name="Trader-ShippingBroadcast" address="127.0.0.1" port="6120" />
    <server name="Shipping-BankBroadcast" address="127.0.0.1" port="6110" />
    <server name="Shipping-TraderBroadcast" address="127.0.0.1" port="6120" />
  </servers>

</configuration>