<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="servers" type="TaiPan.Common.ServersSection, Common" />
  </configSections>

  <appSettings>
    <add key="MultiHeadQueueSize" value="1000" />
    <add key="MainLoopTick" value="5000" />
    <add key="TCPThreadTick" value="200" />
    <add key="ClientRetryTime" value="500" />
    <add key="CurrencyAccuracy" value="4" />
  </appSettings>

  <connectionStrings>
  <add name="taipan-r"
    providerName="System.Data.SqlClient"
    connectionString="server=DAPHNE-DURON\SQLEXPRESS;
            User Id=taipan-r; Password=fakepass;
            database=TaiPan" />
  <add name="taipan-rw"
    providerName="System.Data.SqlClient"
    connectionString="server=DAPHNE-DURON\SQLEXPRESS;
          User Id=taipan-rw; Password=fakepass;
          database=TaiPan" />
  </connectionStrings>

  <servers>
    <server name="Bank-Trader" address="127.0.0.1" port="6100" />
    <server name="Bank-Shipping" address="127.0.0.1" port="6101" />
    <server name="FXServer-Bank" address="127.0.0.1" port="6102" />
    <server name="FateAndGuesswork-Bank" address="127.0.0.1" port="6103" />
    <server name="FateAndGuesswork-Trader" address="127.0.0.1" port="6104" />
    <!-- for the processes which can have multiple copies running at once "port"
    is the port for process with id=1, each other process uses "port + (id-1)".
    -->
    <server name="Trader-Shipping" address="127.0.0.1" port="6110" />
   </servers>

</configuration>