<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="taipan-r"
    providerName="System.Data.SqlClient"
    connectionString="server=DAPHNE-DURON\SQLEXPRESS;
            User Id=taipan-r; Password=fakepass;
            database=TaiPan" />
  <add name="taipan-rw"
    providerName="System.Data.SqlClient"
    connectionString="server=DAPHNE-DURON\SQLEXPRESS;
          User Id=taipan-rw; Password=fakepass;
          database=TaiPan" />
  </connectionStrings>
</configuration>